<div class="container">
  <h1>Simple URL Shortener, SON!!!!!</h1>

  <form name="input" action="/urls" method="post">
    Enter a long URL to make tiny: <input type="text" name="full"> <input type="submit" value="Booyah!">
  </form>
  <p><em>Usage: Please include full path including "http://"" or "https://".</em></p>
</div>
